:root {
  --themeFont: 'Open Sans', sans-serif, 'serif', 'monospace', 'cursive', 'system-ui', 'roboto', 'arial', 'helvetica', 'georgia', 'courier', 'impact', 'garamond', 'bookman', 'arial black', 'avant garde', 'century gothic', 'optima', 'rockwell', 'tahoma', 'times new roman', 'verdana';
  --themeBgColor: skyblue;
  --themeFontColor: black;
  --themeSize: 1.5rem;

  --bodyFont: 'Open Sans', sans-serif, 'serif', 'monospace', 'cursive', 'system-ui', 'roboto', 'arial', 'helvetica', 'georgia', 'courier', 'impact', 'garamond', 'bookman', 'arial black', 'avant garde', 'century gothic', 'optima', 'rockwell', 'tahoma', 'times new roman', 'verdana';
  --bodyBgColor: white;
  --bodyFontColor: black;
  --bodySize: 1rem;
}
body {
  font-family: var(--bodyFont) !important;
  color: var(--bodyFontColor) !important;
  background-color: var(--bodyBgColor) !important;
  font-size: var(--bodySize) !important;
}

header, footer, nav {
  font-family: var(--themeFont) !important;
  color: var(--themeFontColor) !important;
  background-color: var(--themeBgColor) !important;
  font-size: var(--themeSize) !important;
  height: fit-content !important;
}
.themeColor {
  color: var(--themeBgColor) !important;
}
.themeColor:hover {
  color: var(--themeBgColor) !important;
}
.themeBg {
  background-color: var(--themeBgColor) !important;
}
.themeBg:hover {
  background-color: var(--themeBgColor) !important;
}
.themeFont {
  font-family: var(--themeFont) !important;
}
.themeCBFS {
  color: var(--themeFontColor) !important;
  background-color: var(--themeBgColor) !important;
  font-family: var(--themeFont) !important;
  font-size: var(--themeSize) !important;
}
.themeCBF {
  color: var(--themeFontColor) !important;
  background-color: var(--themeBgColor) !important;
  font-family: var(--themeFont) !important;
}
.theme {
  color: var(--themeFontColor) !important;
  font-family: var(--themeFont) !important;
}


.App {
  text-align: center;
}

nav .MuiBox-root button {
  font-weight: 700;
  color: var(--themeFontColor) !important;
  font-size: var(--themeSize) !important;
}

.MuiPaper-root {
  background-color: var(--bodyBgColor) !important;
  color: var(--bodyFontColor) !important;
}

nav.MuiPaper-root {
  background-color: var(--themeBgColor) !important;
  color: var(--themeFontColor) !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.shadow-image {
  position: relative;
  display: inline-block;
}

.shadow-image::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  bottom: 10px;
  right: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  transform: rotateY(20deg) rotateX(10deg);
  z-index: -1;
}

.shadow-image img {
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 .5rem;
}

.nav li {
  transition: background-color .25s ease-in-out;

}

.site-title {
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  /* gap: 1rem; */
}

.nav a {
  top: 0;
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 .5rem;
}

.nav li.active {
  background-color: #555;
}

.nav li:hover {
  background-color: #777;
}

.swiper-slide-thumb>img {
  border: 2px solid transparent;
  box-shadow: 0px 0px 6px 0px transparent;
}
.swiper-slide-thumb-active>img {
  border: 2px solid orange;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}

.MuiBottomNavigation-root {
  background-color: var(--themeBgColor);
  color: var(--themeFontColor);
  font-size: var(--themeSize);
  font-family: var(--themeFont);
  /* padding: 1rem; */
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #ddd;
  
}

.MuiBottomNavigationAction-root {
  min-width: 0;
  padding: 0.5rem;
  color: #333;
}

.MuiBottomNavigation-root .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  flex: 1 1 100%;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 2rem auto;
}

.MuiBottomNavigation-root .container > * {
  flex: 1 1 20%;
  margin: 0.5rem;
}

.MuiBottomNavigation-root .title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  text-transform: uppercase;
  text-align: justify;
}

.MuiBottomNavigation-root .text {
  font-size: 0.8rem;
  /* color: #666; */
  margin-bottom: 1rem;
  text-align: justify;
}

.MuiBottomNavigation-root form {
  text-align: justify;
}

.MuiBottomNavigation-root .icon {
  color: #333;
}

.MuiBottomNavigation-root .button {
  background-color: #333;
  color: #fff;
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
}

.MuiBottomNavigation-root .button:hover {
  background-color: #111;
}


/* swiper */
.mySwiperSimple {
  height: 550px; /* set the desired height */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.mySwiperThumbs {
  height: 80px; /* set the desired height */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 2px;
  /* box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4); */
}

.mySwiperThumbs .swiper-slide {
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.mySwiperThumbs .swiper-slide-thumb-active {
  opacity: 1;
}

.mySwiperThumbs .swiper-slide-thumb-active img {
  border: 2px solid orange;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.4);
}
